body::-webkit-scrollbar, textarea::-webkit-scrollbar {
	width: 10px;
	background-color: #000;
}

body::-webkit-scrollbar:hover, textarea::-webkit-scrollbar:hover {
	background-color: #444;
}

body::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background: #F57C00;
}

body::-webkit-scrollbar-thumb:hover, textarea::-webkit-scrollbar-thumb:hover {
	background: #FF8C20;
}

body::-webkit-scrollbar-thumb:active, textarea::-webkit-scrollbar-thumb:active {
	background: #FFAC40!important;
}